* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

body {
  margin: 0;
}

textarea {
  min-height: 120px;
}

code {
  font-family: 'Fira Code', 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, monospace;
}
